<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.limit.lazybird">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.limit.lazybird.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_lazybird_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_lazybird_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LazyBirdProject"
        android:usesCleartextTraffic="true">
        <!-- for kakao login -->
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="oauth"
                    android:scheme="kakaoed1671c07f7f99c3ad5e2640429b8dab"/>
            </intent-filter>
        </activity>

        <activity android:name="com.limit.lazybird.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>